name : simple CI

on : push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: run lint check
        run:  npm run lint
  test: 
     runs-on: ubuntu-latest
     needs: lint
     steps:
       - name: Checkout Code
         uses: actions/checkout@v4
       - name: Setup Node.js
         uses: actions/setup-node@v4
         with:
          node-version: 20
       - name: run test check
         run:  npm test
  build:
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
           node-version: 20
      - name: run build 
        run:  npm build
       
